.content-wrapper{
    width: 50%;
    height: 500px;
    margin: 0 auto;
    border: black 1px solid;
    padding: 20px;
}

.clock{
    display: inline-block;
    float: right;
    margin-right: 20px;
}

#highscore-button{
    margin-left: 10px;
}

#question-section{
    margin-top: 10px;
}


#start{
    margin-top: 50px;
}

button{
    color: white;
    background-color: #1eb2a6;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }

#correctness-section{
    border-top : none;
    width: 100%;
}