/* Main Content Wrapper Styles */
.content-wrapper{
    width: 50%;
    height: 100%;
    margin: 50px auto;
    border: black 1px solid;
    padding: 20px;
}

/* Constant elements */
.clock{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.main-highscore-button{
    margin-left: 10px;
}


/* HighScore Section Styles */
#highscore-button{
    margin-left: 10px;
}

/* Main Quiz Styles */
#question-section{
    margin-top: 10px;
}

#correctness-section{
    border-top : none;
    width: 100%;
}

#start{
    margin-top: 50px;
}

button{
    color: white;
    background-color: #5bc0de;
    border-radius: 5px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    background-color: white;
  }


